@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=JetBrains+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0');

/* Tailwind v4 Direktifi */
@import "tailwindcss";

html,
body {
  overflow: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}

.dark * {
  scrollbar-color: #4b5563 #1c1c1c;
}

.dark *::-webkit-scrollbar-track {
  background: #1c1c1c;
}

.dark *::-webkit-scrollbar-thumb {
  background-color: #4b5563;
}

/* dark mod */
@variant dark (&:is(.dark *));

/* Özel Stillerin */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.material-symbols-outlined.filled {
  font-variation-settings: 'FILL' 1;
}

.ant-table-row {
  border-bottom: 1px solid #e2e8f0;
  transition: background-color 0.2s ease;
}

.dark .ant-table-row {
  border-bottom: 1px solid #334155;
}

.ant-table-row:hover {
  background-color: #f8fafc;
}

.dark .ant-table-row:hover {
  background-color: #334155;
}

.ant-table-row:last-child {
  border-bottom: none;
}

.progress-bar-container {
  width: 100%;
  height: 6px;
  background-color: #e5eeff;
  border-radius: 4px;
  margin-top: 12px;
  overflow: hidden;
}

.dark .progress-bar-container {
  background-color: #334155;
}

.progress-bar-fill {
  height: 100%;
  background-color: #E4032C;
  width: 0%;
  transition: width 1.5s ease-out;
}